@media (max-width: 1300px){
	.jumbotron{
		display: block !important;
		margin-left: 15% !important;
	}
}

@media (max-width: 730px){
	.jumbotron{
		display: block !important;
		margin-left: 2.5% !important;
	}
	textarea{
		width: 550px !important;
		height: 400px !important;
		font-size: 15px !important;
	}
}

textarea{
	width: 650px;
	height: 400px;
	font-size: 18px;
	resize: none;
	-webkit-box-shadow: 10px 10px 0px 10px rgba(0,0,0,0.67);
	-moz-box-shadow: 10px 10px 0px 10px rgba(0,0,0,0.67);
	box-shadow: 10px 10px 0px 10px rgba(0,0,0,0.67);
	margin-bottom: 30px;
}
.row{
	display: inline-grid;
}

.row button{
	width: 650px;
	font-size: 20px;
	margin: 0;
}
.jumbotron{
	margin: 25px;
	padding-top: 0;
	position: relative;
	margin-bottom: 10px;
	height: 100%;
	background-color: transparent!important;
	display: flex;
	margin-left: 15%;
}
.selected-options{
	display: inline-flex;
}
.selected-options span{
	margin-right: 10%;
}
.btn, .btn:hover, .btn:focus{
	background-color: #5486ea;
	border-radius: 5px;
	color: lightgrey;
	border:0.5px;
}
