@media (max-width: 1100px){
	.jumbotron{
		display: block !important;
	}
}

textarea{
	width: 650px;
	height: 400px;
	font-size: 18px;
	resize: none;
	-webkit-box-shadow: 10px 10px 0px 10px rgba(0,0,0,0.67);
	-moz-box-shadow: 10px 10px 0px 10px rgba(0,0,0,0.67);
	box-shadow: 10px 10px 0px 10px rgba(0,0,0,0.67);
	margin-bottom: 30px;
}
.row{
	display: inline-grid;

}

.row button{
	width: 650px;
	font-size: 20px;
	margin: 0;
}
.jumbotron{
	margin: 25px;
	position: relative;
	margin-bottom: 10px;
	height: 100%;
	background-color: transparent!important;
	display: flex;
}
.selected-options{
	display: inline-flex;
}
.selected-options span{
	margin-right: 10%;
}