*{
  font-family: 'Titillium Web', sans-serif;
}

.App {
  text-align: center;
  height: 100%;
}

footer {
  position:fixed;
   left:0px;
   bottom:0px;
   height:50px;
   width:100%;
   background:lightgrey;
}
footer p{
	margin-top: 15px;
}